/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    /* border: 1px solid red; */
}


/*header*/

header {
    background-color: white;
    padding: 2vh 4vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 3.6vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    position: relative;
}

nav ul li a:hover {
    color: #1877F2;
}

nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #1877F2;
}

nav ul li a.active {
    color: #1877F2;
}

/* .right-buttons {
    margin-right: 20px;
}

.rightBtn1, .rightBtn2 {
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border-bottom: none;
    mix-blend-mode: hard-light;
} */

/* home */

.containerHome {
    display: flex;
    height: 100vh;
    background-image: url(./assets/backgroundHome.png);
    background-size: cover;
    background-position: center;
}

.containerHome .left {
    width: 40%;
    font-size: 4vh;
    margin: 20vh 6vw;
}
.containerHome .left span {
    color: #1ABC9C;
}

.containerHome .left .p-text {
    width: 100%;
    font-size: 2vh;
}

.containerHome .left button {
    background-color: #1877F2;
    color: white;
    border-radius: 18px;
    border: 0;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 1.6vh;
}

.containerHome .right {
    justify-content: flex-end;
    font-size: 4vh;
    margin: 20vh 0 0 6vw;
}

.containerAbout {
    height: 100vh;
}

/* features */

.containerFeatures {
    height: auto;
    background-image: url(./assets/backgroundFeatures.png);
    box-shadow: inset 0px 20px 15px #ffffff;
    background-size: cover;
    background-position: center;
}

.containerFeatures .left {
    width: 40%;
    font-size: 4vh;
    margin: 20vh 6vw;
    margin-bottom: 5%;
    padding-top: 16vh;
}

.containerFeatures .left .p-text {
    width: 100%;
    font-size: 2vh;
}

.containerFeatures .features-demo {
    margin: 0 auto;
    height: 100%;
    width: 60vw;
    display: flex;
    border: 1px solid black;
    border-radius: 24px;
    position: static;
    align-items: center;
    justify-content: center;
}

/*About Us*/

.about-us{
    background-color: rgba(216, 227, 255, 1);
    width: auto;
    height: auto;
    border-radius: 26px;
    margin: 10vh 3vw;
    padding-top: 8vh;
}

.about-us h1, .members h1{
    margin: 3vw;
    font-size: 5vh;
    padding: 20px;
}

.abt-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.abt-img .carousel{
    display: grid;
    overflow: hidden;
    grid-auto-flow: column;
    margin: 10px;
}

.carousel{
    width: 100%;
}

.carousel .card{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    justify-content: center;
    border-radius: 8px;
}

hr{
    width: 50%;
    height: 0.8px; 
    text-align: left; 
    margin-left: 0;
    color: rgb(0, 0, 0); 
    background-color: rgb(0, 0, 0)
}

.about-us h3{
    font-size: 3vh;
}

.text{
    display: flex;
    margin: 3vw;
}

.child{
    flex-basis: 100%;
    padding: 20px;
}

/* members */

.members{
    background-color: rgba(254, 254, 190, 1);
    width: auto;
    height: auto;
    border-radius: 26px;
    margin: 4vh 3vw;
    padding-top: 4vh;
}

.row{
    display: flex;
}

.item{
    flex-basis: 100%;
    padding: 20px;
    margin: 3vw;
    background-color: rgb(255, 247, 175);
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(96, 97, 97, 0.308);
    height: 31vh;
}

.item-img{
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.item img {
    background-color: gray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.item-text{
    background-color: white;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    height: 15vh;
    padding: 5px;
}

.item-text h4{
    padding: 8px;
}

.item-text p {
    margin-bottom: 10px;
    font-size: 16px;
}

.item-text .email , .linkedin {
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 18px;
    border: 0;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 1.4vh;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.item-text .email:hover,
.item-text .linkedin:hover {
    background-color: #A0A0A0; 
    color: #FFFFFF;
}

/* footer */

.footer{
    background: #BFD2FF;
    display: flex;
    position: relative;
    width: 100%;
    height: 85vh;
}

.footer img{
    width: 120px;
    position: absolute;
    left: 100px;
    top: 80px;
}

.footer .about{
    position: absolute;
    left: 350px;
    top: 50px;
}

.footer .about h2 {
    padding-bottom: 20px;
}

.footer .product h2 {
    padding-bottom: 20px;
}

.footer .product{
    position: absolute;
    left: 680px;
    top: 50px;
}
.footer .form{
    position: absolute;
    left: 980px;
    top: 50px;
}

.footer .form .message{
    height: 50px;
}

.footer a{
    font-size: large;
    color: black;
    text-decoration: none;
}

.footer .form input{
    position: relative;
    width: 90%;
    font-size: large;
    border-radius: 15px;
    border: none;
    padding: 15px;
    margin-bottom: 15px;
}

.footer .form button{
    position: absolute;
    padding: 8px 15px;
    background: #1877F2;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: large;
    right: 10px;
    cursor: pointer;
}

.footer .form button:hover {
    background: #003f92;
    transition: 0.3s ease;
}

.line{
    height: 80%;
    margin-left: 930px;
    margin-top: 50px;
    border: 2px solid #8EB0FF;
}

.footer h3 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.footer .about a{
    margin-bottom: 10px;
}

.footer .about a:hover{
    color: #004cff;
    transition: 0.3s ease;
}

.footer .product a{
    margin-bottom: 10px;
}

.footer .product a:hover{
    color: #004cff;
    transition: 0.3s ease;
}