* {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: 'Poppins';
  scroll-behavior: smooth;  
}

header {
  background-color: white;
  padding: 2vh 4vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.left-buttons {
  display: flex;
}

.left-buttons .backBtn {
  border: 0;
  background: none;
}

.left-buttons .logo {
  margin-left: 2vw;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s ease;
  position: relative;
}

nav ul li a:hover {
  color: #1877F2;
}

nav ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #1877F2;
}

nav ul li a.active {
  color: #1877F2;
}

.right-buttons {
  margin-right: 8vw;
}

.cam-page{
  padding: 2%;
  display: flex;
}

.left-main{
  width: 60%;
  padding: 2%;
  border-radius: 10px;
  border: #333 2px solid;
  background-color: rgba(217, 217, 217, 0.668);
}

.controls{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.controls button{
  border: none;
  border-radius: 40px;
}

.camera{
  background-color: rgba(217, 217, 217, 1);
  height: 45vh;
  border-radius: 10px;
}

.right-main{
  margin-left: 1.5%;
  /* border: red 2px solid; */
  width: 40%;
}

.text-box{
  height: 50vh;
  width: 20wh;
  background-color: rgb(255, 234, 159);
  border-radius: 10px;
  padding: 20px;
}

.template{
  position: absolute;
  bottom: 8%;
  width: 36%;
}

#openBtn {
  display: flex;
  width: 100%;
  border: 1px solid black;
  color: #000000;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sliding-window {
  position: fixed;
  width: 30vw;
  height: 65vh;
  background-color: #D9D9D9;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
  transition: bottom 0.7s ease; /* Smooth sliding transition */
}

.gesturesPic {
  width: 88%;
}

.content {
  padding: 20px;
}

#closeBtn{
  border: None;
}

/* buttons - hovering */

.camButton img {
  transition: transform 0.5s ease;
}

.camButton:hover img[src="./assets/cam/GTH.png"] {
  content: url('./assets/cam/GTH-hover.png');
}

.camButton:hover img[src="./assets/cam/TTS.png"] {
  content: url('./assets/cam/TTS-hover.png');
}

.camButton:hover img[src="./assets/cam/STT.png"] {
  content: url('./assets/cam/STT-hover.png');
}

/* end of hovering buttons */

.cameraScreen {
  margin: 0 2vw;
  display: flex;
  height: 40vh;
  background-color: #D9D9D9;
}

/* for footer */

.footer {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0%;
  padding: 14px;
  width: 100%;
  background: #bfd2ff;
  text-align: center;
  z-index: 1;
}


.style1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}