<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
 
    <link href="./about-us.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar">
      <!-- <img class="navbar-logo" src="./assets/logo.webp" alt="Logo">          // try this if the code below doesn't work -->
      <img class="navbar-logo" src="./public/about-us/logo.webp" alt="Logo">
    </nav>

    <ul>
        <li><a href="./contact.html">Contact</a></li>   <!-- change the contact page link if link is different / not working --> 
        <li><a class="active" href="./about-us.html">About Us</a></li>   <!-- change the about-us page link if link is different / not working -->
        <li><a href="./index.html">Home</a></li>   <!-- change the home page link if if link is different / not working possible-->
    </ul>

    <div class="info">
      <h1>Our Team</h1>
      <p>We are a team of 10 members each bringing their unique expertise and boundless enthusiasm to the table, united by a common mission to shape a brighter, more innovative future.</p>
  </div>
        
    <div class="container">
        <table style="width:80%">
            <tr>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                        <div class="details">
                            <img src="./public/about-us/anwesa.webp" alt="">
                            <strong>Anwesa Sinha</strong>
                            <p>Team Lead</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <div class="top-bar"></div>
                        <div class="details">
                            <img src="./public/about-us/satyaki.webp" alt="">
                            <strong>Satyaki Dawn</strong>
                            <p>Frontend Developer</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                        <div class="details">
                            <img src="./public/about-us/samriddhi.webp" alt="">
                            <strong>Samriddhi Dubey</strong>
                            <p>App Developer</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                        <div class="details">
                            <img src="./public/about-us/anubhab.webp" alt="">
                            <strong>Anubhab Pal</strong>
                            <p>UI/UX Designer</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                    <div class="details">
                        <img src="./public/about-us/draksha.webp" alt="">
                        <strong>Draksha</strong>
                        <p>ML Lead</p>
                    </div>              
                </div>
                </td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                    <div class="details">
                        <img src="./public/about-us/subhadip.webp" alt="">
                        <strong>Subhadip Das</strong>
                        <p>Database Administrator</p>
                    </div>
                </div>
                </td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>    
                    <div class="details">            
                        <img src="./public/about-us/asmita.webp" alt="">            
                        <strong>Asmita Sarkhel</strong>            
                        <p>Documentarian</p>            
                    </div>                          
                </div>
                </td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                    <div class="details">            
                        <img src="./public/about-us/arijit.webp" alt="">            
                        <strong>Arijit Dey</strong>            
                        <p>Interface Designer</p>            
                    </div>                
                </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                    <div class="details">
                        <img src="./public/about-us/adrija.webp" alt="">
                        <strong>Adrija Nag</strong>
                        <p>Presentation Designer</p>                              
                    </div>
                </div>
                </td>
                <td>
                    <div class="box">
                    <div class="top-bar"></div>
                    <div class="details">
                        <img src="./public/about-us/pramit.webp" alt="">
                        <strong>Pramit Roy</strong>
                        <p>Presentation Designer</p>
                    </div>                                  
                </td>
                <td></td>
            </tr>
        </table>
</div>
</section>
</div>

<div class="footer">
    <p align="center" class="style1"><strong>Copyright &copy; 2023. All Rights Reserved</strong></p>
</div>

</body>
</html>