<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="{{ url_for('static', filename='camera.css') }}" rel="stylesheet" >
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/ico/favicon-16x16.png">
    <link rel="manifest" href="./assets/ico/site.webmanifest">
  </head>

  <body>
    <header>
      <div class="left-buttons">
        <button type="button" class="backBtn">
          <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/cam/backBtn.png') }}" alt="Back">
          </a>
        </button>
        <div class="logo"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo"></div>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('index') }}">Features</a></li>
          <li><a href="{{ url_for('index') }}">About</a></li>
        </ul>
      </nav>
      <div class="right-buttons"></div>    <!-- keeping it otherwise the "nav ul li a" alignemnt is getting messed up -->
    </header>
    <div class="cam-page">
      <div class="left-main">
        <div class="camera-outer">
          <div class="controls">
            <button class="camButton"><img src="{{ url_for('static', filename='assets/cam/GTH.png') }}" alt="Gesture To text"></button>
            <button class="camButton"><img src="{{ url_for('static', filename='assets/cam/TTS.png') }}" alt="Text To Speech"></button>
            <button class="camButton"><img src="{{ url_for('static', filename='assets/cam/STT.png') }}" alt="Speech To Text"></button>
          </div>
          <div class="camera">
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Hand Sign Detection">
          </div>
        </div>
      </div>

      <div class="right-main">
        <div class="text-box">
          {{ text }}
        </div>
        <div class="template">
          <button id="openBtn"><img src="{{ url_for('static', filename='assets/cam/openBtn.png') }}" alt="Open Gestures"></button>
          <div class="sliding-window" id="slidingWindow">
            <div class="content">
              <img class="gesturesPic" src="{{ url_for('static', filename='assets/cam/gestures.png') }}">
              <button id="closeBtn"><img src="{{ url_for('static', filename='assets/cam/closeBtn.png') }}" alt="Close Gestures"></button>
            </div>
          </div>
        </div> 
      </div>
    </div>
</div>

 

<div class="footer">
<p align="center" class="style1"><strong>Copyright &copy; 2024. All Rights Reserved</strong></p>
</div>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
const openBtn = document.getElementById('openBtn');
const closeBtn = document.getElementById('closeBtn');
const slidingWindow = document.getElementById('slidingWindow');

    // Function to open the sliding window
function openSlidingWindow() {
  slidingWindow.style.bottom = '0';    
}

    // Function to close the sliding window
function closeSlidingWindow() {
  slidingWindow.style.bottom = `-${slidingWindow.offsetHeight}vh`;
}

    // Event listeners for open and close buttons
openBtn.addEventListener('click', openSlidingWindow);    
closeBtn.addEventListener('click', closeSlidingWindow);
});

</script>

<script>
  // Optionally, you can use JavaScript to automatically update the image source
  // to get real-time updates from the video feed.
  const videoFeed = document.getElementById('video_feed');
  setInterval(() => {
      videoFeed.src = "{{ url_for('video_feed') }}?time=" + new Date().getTime();
  }, 10000); // Update every 1000 milliseconds (1 second)
</script>

</body>
</html>
