<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link href="./contact.css" rel="stylesheet" />
  </head>

  <body>
    <div class="background"></div>
    <nav class="navbar">
      <!-- <img class="navbar-logo" src="./assets/logo.webp" alt="Logo">          // try this if the code below doesn't work -->
      <img class="navbar-logo" src="./public/contact/logo.webp" alt="Logo">
    </nav>

    <ul>
      <li><a class="active" href="./contact.html">Contact</a></li>   <!-- change the contact page link if link is different / not working --> 
      <li><a href="./about-us.html">About Us</a></li>   <!-- change the about-us page link if link is different / not working -->
      <li><a href="./index.html">Home</a></li>   <!-- change the home page link if if link is different / not working possible-->
  </ul>

    <div class="container">
      <img src="./public/contact/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            <b>WANT TO KNOW MORE?<BR>
            REACH TO US!</b>
          </p>

          <div class="info">
            <div class="information">
              <img src="./public/contact/location.png" class="icon" alt="" />
              <p>KOLKATA, WEST BENGAL</p>
            </div>
            <div class="information">
              <img src="./public/contact/email.png" class="icon" alt="" />
              <p>innovativeproj@gmail.com</p>
            </div>
            <div class="information">
              <img src="./public/contact/phone.png" class="icon" alt="" />
              <p>91546728986</p>
            </div>
          </div>

          
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="index.html" autocomplete="off">
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Username</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" />
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Message</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
    <script type="text/javascript">
      const toggleMenu = () => {
        document.body.classList.toggle("open");
      };
    </script>

    <div class="footer">
      <p align="center" class="style1"><strong>Copyright &copy; 2023. All Rights Reserved</strong></p>
  </div>
  </body>
</html>
