<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>
  </head>

  <body>
    <nav class="navbar">
      <img class="navbar-logo" src="{{ url_for('static', filename='assets/logo.webp') }}" alt="Logo">
    </nav>

    <ul>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>   <!-- insert the contact page link --> 
      <li><a href="{{ url_for('about') }}">About Us</a></li>   <!-- insert the about-us page link -->
      <li><a class="active" href="#">Home</a></li>   <!-- insert the home page link if possible-->
    </ul>

    <div class="info">
      <h1>Welcome!</h1>
      <p>Our user-friendly interface makes it easy for anyone to utilize our sign language detection tool that translate your gestures into real-time spoken words.</p>
  </div>

  <table class="table" style="width:80%">
      <tr>
          <td class="camera">
            <!-- <button id="startBtn" onclick="openCam()">Open Webcam</button>  
            <video id="video" width="640" height="480" autoplay playsinline></video> -->
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Hand Sign Detection">
          </td>

    <script>
        // Optionally, you can use JavaScript to automatically update the image source
        // to get real-time updates from the video feed.
        const videoFeed = document.getElementById('video_feed');
        setInterval(() => {
            videoFeed.src = "{{ url_for('video_feed') }}?time=" + new Date().getTime();
        }, 10000); // Update every 1000 milliseconds (1 second)
    </script>
          </td>
          <td class="message"><img src="{{ url_for('static', filename='assets/asl.jpg') }}"></td>
      </tr>
  </table>
</div>

<!-- <div class="footer">
<p align="center" class="style1"><strong>Copyright &copy; 2023. All Rights Reserved</strong></p>
</div> -->

  </body>
</html>
