* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-width: none;
}

.navbar {
  display: flex;
}

.navbar-logo {
  padding: 2vh 0vw 2vh 3vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1vh;
  overflow: hidden;
  background-color: rgb(252, 186, 189);
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 24px;
}

li a:hover:not(.active) {
  background-color: rgb(255, 112, 200);
  transition: 0.3s ease-in;
}

.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* end of nav-bar properties */

.info {
  position: relative;
  overflow: hidden;
  float: none;
  margin: 2% 2%;
  padding: 0%;
}

.table {
  border-collapse: collapse;
  position: relative;
  border-spacing: 30px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: center;
  padding: 16px;
  align-items: center;
  height: 50vh;
}

td, .camera {
  width: 45%;
  background-color: #D9D9D9;
  border-radius: 10px;
}

td, .message {
  width: 35%;
  background-color: #FEFEBE;
  border-radius: 10px;
}

table, td {
  border: 0px solid none;
}